<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h4>Please Contact Us in case of any Queries</h4>
    <hr />
    <h5>Phone - 7********</h5>
    <h5>Email - r*******m</h5>
    <hr />
    <div>
        <a href="/Home/Index">Back to main</a>
    </div>
</body>
</html>
