<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tech Solutions - Index</title>
</head>
<body>
    <h3>Welcome to Tech Solutions</h3>
    <hr />
    <div><a href="/Home/Contact">Contact Us</a></div>
    <div><a href="/Home/About">About Us</a></div>
</body>
</html>
