<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <h3>Hello Dear - Welcome to Home Controller</h3>
    <div>

    </div>
</body>
</html>
