<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>This is View -> <u>Controller/Index</u></h3>
    <div> 
        <a href="/Home/Greet">Home - Greet</a> <br/>
        <a href="/Home/ViewWithDiffName">Home - DiffName</a> <br/>
        <a href="/Employee/Index">Employee - Index</a>
    </div>
</body>
</html>
